@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    min-width: 400px;
    background-color: #F7F7F7;
}

.container {
    position: relative;
    width: 95%;
    margin: auto;
}

header img {
    width: 25px;
    height: 25px;
    float: left;
    position: relative;
    top: 10px;
    left: 85px;
}

#main-heading {
    color: #ff0000;
    margin-bottom: 0;
    border-bottom: 2px solid #8b0000;
}

#message {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.link-field {
    margin: 15px 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #ccc;
}

.link-field:hover {
    box-shadow: 2px 2px 5px #ccc;
}

kbd {
    display: inline-block;
    background-color: rgba(0,0,0, 0.075);
    padding: 0.2rem;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
}

.link-field span {
    display: inline-block;
}

.link-field input[type="url"] {
    color: rgba(0,0,0,0.8);
    width: 70%;
    min-height: 20px;
    margin: 5px;
}

button {
    display: none;
    margin: 5px;
}

button.positive, button.negative {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

button.positive {
    background-color: #008000;
}

button.positive:hover {
    background-color: #006400;
}

button.negative {
    background-color: #ff0000;
}

button.negative:hover {
    background-color: #8b0000;
}

/* tutorial popup */ 
/* will be programmatically created and injected in DOM */
#tutorialPopup {
    position: absolute;
    background-color: #fff;
    top: 150px;
    border: 2px solid #a9a9a9;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 25px 250px  #ccc, 0 -25px 250px  #ccc;
    box-shadow: 0 25px 250px  #ccc, 0 -25px 250px  #ccc;
}

#tutorialPopup h2 {
    color: #8b0000;
    margin: 0;
}

#tutorialButton {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bolder;
    background-color: #8b0000;
    color: #ffffff;
    border: none;
    display: inline-block;
    -webkit-box-shadow: 5px 5px 20px #a9a9a9;
    box-shadow: 5px 5px 20px #a9a9a9;
}

label[for="tutorialCheckbox"] {
    font-weight: bold;
    color: #8b0000;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #8b0000;
}

nav ul li a:hover {
    color: blue;
}
